* {
    box-sizing: border-box;
}

.footer {
    position: absolute;
    float: right;
    right: 0;
    bottom: -25px;
    width: 100%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    min-width: 600px;
    padding: 5px;
    background-image: url('assets/mainbg-2.jpg');
    background-color: lightslategray;
}

p {
    font-family: 'Cutive Mono';
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #d1d1d1;
    width: 100%;
    max-width: 570px;
    margin: 5px auto;
    margin-bottom: 5px;
}

.displayWide p {
    font-size: 24px;
    line-height: 30px;
    font-family: 'Coustard';
    color: white;
    font-weight: 300;
    margin-top: 0;
}

.js-band p,
.js-album p {
    font-family: 'Cutive Mono';
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #242424;
    margin: 0 auto;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-image: url('assets/mainbg-4.jpg');
    background-size: contain;
    background-repeat: repeat;
    background-color: #46494C;
    box-shadow: 0px 5px 10px -1px #242424;
}



h1 {
    font-family: "Monoton", sans-serif;
    color: #DCDCDD;
    margin: 0 auto;
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
}

/* @media screen and (max-width: 400px) {
    #title {
        width: 100%;
        max-width: 400px;
    }
    h1 {
        font-size: 48px;
    }
} */

h2 {
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    font-weight: normal;
    margin: 0;
    text-shadow: 1px 1px rgba(107, 107, 107, 0.644);

    font-size: 30px;
    letter-spacing: .05em;
    text-transform: capitalize;
}

h3 {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #242424;
    margin: 5px;
}


fieldset {
    width: 100%;
    max-width: 570px;
    border: none;
    margin: 0 auto;
    padding: 5px 5px 0 5px;
}

button {
    height: 40px;
    width: 150px;
    font-family: 'Cutive Mono';
    font-size: 16px;
    line-height: 1.3em;
    color: #242424;
    font-weight: bold;
    background-color: #dcdcdd;
    border: none;
    border-radius: 5px;
    padding: 5px;
    white-space: normal;
    box-shadow: 0px 3px 3px -1px #161616d8;
}

.controlPanel#albumPanel button {
    height: 35px;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    border: 2px solid #dcdcdd;
    cursor: pointer;
}

button:active {
    background-color: #40798C;
    border: 2px solid #DCDCDD;
    cursor: pointer;
    transform: scale(.95)
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 10px;
    font: 18px 'Cutive Mono', Arial, sans-serif;
    font-weight: bold;
    color: #242424;
    cursor: pointer;
}

input[type="checkbox"]+label:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border: 2px solid #242424;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked+label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

h3:active {
    color: white;
}

.control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.displayNarrow {
    padding: 5px;
    width: 100%;
    max-width: 570px;
    /* max-height: 570px; */
}

.displayWide {
    padding: 20px;
    background-color: white;
    padding-top: 150px;
    max-height: 550px;
    width: 100%;
    max-width: 550px;
    border-radius: 5px;
    background-color: rgba(230, 230, 230, 0.3);
    /* background-image: url('assets/mainbg.jpg');
    background-size: cover;
    background-repeat: round; */
    /* box-shadow: 0px 5px 10px 0px #242424; */
}

.narrowTag {
    margin-top: 30px;
}

.controlPanel {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    justify-content: space-around;
    margin: 0px auto;
    margin-bottom: 10px;
    padding: 5px;
    z-index: 2;
}

/* .controlPanel#coverPanel {
    max-width: 500px;
    min-height: 200px;
    display: inline-flex;
    justify-content: space-between;
}

#coverPanel h3 {
    text-align: center;
    padding: 0;
    max-width: 500px;
    font-size: 1em;
} */

.js-cover {
    position: relative;
    float: right;
    margin: 0 5px 0 0;
    background-color: #000000;
    width: 100%;
    max-width: 550px;
    height: 550px;
    padding: 0;
    /* overflow: hidden; */
    box-shadow: 0px 5px 10px 0px #242424;
}

/* BAND NAME TEXT */

.js-band {
    /* display: flex; */
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 2;
    cursor: move;
}

.js-band:hover {
    border: 1px dashed rgba(255, 255, 255, 0.75);
}

/* ALBUM NAME TEXT */

.js-album {
    /* display: flex; */
    position: absolute;
    top: 90%;
    left: 2%;
    z-index: 2;
    cursor: move;
}

.js-album:hover {
    border: 1px dashed rgba(255, 255, 255, 0.75);
}

#coverImg {
    position: absolute;
    height: auto;
    width: 100%;
    max-width: 550px;
    max-height: 550px;
    z-index: 1;
    object-fit: cover;
}

#coverOverlay {
    position: absolute;
    width: 100%;
    max-width: 550px;
    max-height: 550px;
    height: auto;
    z-index: 3;
    mix-blend-mode: screen;
    pointer-events: none;
}

.textControl label {
    color: #242424;
    display: inline-block;
    cursor: pointer;
    font-family: 'Cutive Mono';
    font-weight: bold;
    padding: 5px 10px;
}

.textControl {
    display: inline-block;
    position: relative;
    border: solid 2px #46494C;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.colorPalette {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 350px;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
}

.paletteItem {
    flex-flow: row;
    height: 30px;
    width: 20px;
    box-shadow: inset 0px 3px 5px -1px #24242473;
    /* border-radius: 50%; */
    cursor: pointer;
}

button.paletteItem {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
    /* border-radius: 50%; */
    font-size: 18px;
    overflow: hidden;
}

.fontControl {
    display: inline-flex;
 padding: 10px 20px 20px 20px;

}

.fontSize {
    display: flex;
    flex-basis: auto;
    justify-content: space-between;
    margin-left: 15px;
    /* margin: 10px 10px 20px 10px; */
    
}

button#up, button#down{
    width: 50px;
    height: 30px;
}

p#font-size {
    margin:10px 0;
}

@media screen and (min-width: 1280px) {
    main {
        max-width: 1170px;
        height: 100%;
        min-height: 600px;
        margin-top: 50px;
        padding: 20px;
    }
    .displayNarrow {
        display: none;
    }
    .narrowTag {
        display: none;
    }
}

@media screen and (max-width:1280px) {
    main {
        max-width: 600px;
        flex-flow: wrap;
    }
    .displayWide {
        display: none;
    }
    .js-cover {
        margin-left: 5px;
    }
}