* {
    box-sizing: border-box;
}

@media screen and (max-width: 1150px) {
    main {
        flex-flow: wrap;
        max-width: 580px;
    }
}

.footer {
    float: right;
    margin: 25px auto;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    text-align: center;
    z-index: 1234;
    overflow: auto;
    width: 100px;
    height: 102px;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    min-width: 600px;
    padding: 5px;
    background-image: url('assets/mainbg-2.jpg');
}

p {
    font-family: 'Cutive Mono';
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #adadad;
    max-width: 600px;
    margin: 20px auto;
}

#title sup {
    font-size: 25%;
    font-family: 'Cutive Mono';
    line-height: 0;
    position: relative;
    vertical-align: top;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    width: 1160px;
    height: auto;
    margin: 0 auto;
    background-image: url('assets/mainbg-4.jpg');
    background-size: contain;
    background-repeat: repeat;
    background-color: #46494C;
    box-shadow: 0px 5px 10px -1px #242424;
}

h1 {
    font-family: "Monoton", sans-serif;
    color: #DCDCDD;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
}

h2 {
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    margin: 0;
    font-size: 1.6em;
    letter-spacing: .05em;
    text-transform: capitalize;
}

h3 {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 20px;
    padding: 8px 0 0 10px;
    font-weight: normal;
    color: #242424;
    margin: 5px;
}

fieldset {
    border: none;
}

button {
    height: 55px;
    font-family: 'Cutive Mono';
    width: 100px;
    line-height: 1.3em;
    color: #dcdcdd;
    font-weight: bold;
    background-color: #6B6D76;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 5px;
    white-space: normal;
}

.controlPanel#albumPanel button {
    height: 35px;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    border: 1px solid #242424;
    cursor: pointer;
}

button:active {
    background-color: #40798C;
    border: 2px solid #DCDCDD;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 10px 15px 15px 15px;
    font: 20px 'Cutive Mono', Arial, sans-serif;
    color: #242424;
    cursor: pointer;
}

input[type="checkbox"]+label:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border: 2px solid #242424;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked+label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#bandName,
#albumName,
#albumCover {
    cursor: pointer;
    display: flex;
    flex-flow: wrap;
    position: relative;
    justify-content: space-between;
    height: 55px;
    border-radius: 5px;
    background-color: #F4F3EE;
    box-shadow: 0px 5px 10px 0px #24242477;
    z-index: 1;
}

#bandName:hover,
#albumName:hover,
#albumCover:hover {
    background-color: #adadad
}

h3:active {
    color: white;
}

#control,
#display {
    flex-wrap: wrap;
    padding: 5px;
    width: 570px;
    max-height: 570px;
}

.controlPanel {
    display: inline-flex;
    align-items: center;
    flex-flow: wrap;
    justify-content: space-between;
    background-color: #dbdbdb;
    box-shadow: 0px 5px 10px 0px #24242477;
    border-radius: 5px;
    margin-top: -10px;
    margin-left: 20px;
    padding: 5px;
    padding-top: 15px;
    z-index: 2;
}

.controlPanel#coverPanel {
    width: 500px;
    min-height: 200px;
    display: inline-flex;
    justify-content: space-between;
}

#coverPanel h3 {
    text-align: center;
    padding: 0;
    width: 500px;
    font-size: 1em;
}

.js-cover {
    position: relative;
    margin: 0 auto;
    background-color: #000000;
    width: 550px;
    height: 550px;
    overflow: hidden;
    box-shadow: 0px 5px 10px 0px #242424;
}

/* BAND NAME TEXT */

.js-band {
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 2;
}

/* ALBUM NAME TEXT */

.js-album {
    position: absolute;
    top: 90%;
    left: 2%;
    z-index: 2;
}

canvas {
    position: absolute;
    clear: both;
}

#coverImg {
    position: absolute;
    height: 550px;
    width: 550px;
    z-index: 1;
    object-fit: cover;
}

#coverOverlay {
    position: absolute;
    width: 550px;
    height: 550px;
    z-index: 3;
    mix-blend-mode: screen;
    box-shadow: 0px 5px 10px 0px #242424;
}

input[type=radio] {
    position: relative;
    visibility: hidden;
    display: none;
}

.textControl label {
    color: #242424;
    display: inline-block;
    cursor: pointer;
    font-family: 'Cutive Mono';
    font-weight: bold;
    padding: 5px 10px;
}

input[type=radio]:checked+label {
    color: #dcdcdd;
    background: #46494C;
    border: 1px solid #46494C;
}

.textControl {
    display: inline-block;
    position: relative;
    border: solid 2px #46494C;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.colorPalette {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
    margin: 0 20px 10px 20px;
}

.slideContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.paletteItem {
    flex-flow: row;
    height: 30px;
    width: 30px;
    box-shadow: inset 0px 3px 5px -1px #24242473;
    border-radius: 50%;
    cursor: pointer;
}

button.paletteItem {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    overflow: hidden;
}

.slide {
    display: inline-flex;
    justify-content: space-between;
}

.slide label {
    padding-top: 2px;
}

input[type=range].slider {
    -webkit-appearance: none;
    width: 90%;
    margin: 7px 10px;
}

input[type=range].slider:focus {
    outline: none;
}

input[type=range].slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 0.9px 0.9px 1px rgba(0, 0, 0, 0.5), 0px 0px 0.9px rgba(13, 13, 13, 0.5);
    background: rgba(107, 109, 118, 0.34);
    border-radius: 18.3px;
    border: 0px solid rgba(0, 0, 0, 0);
}

input[type=range].slider::-webkit-slider-thumb {
    box-shadow: 1px 1px 0.3px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 22px;
    width: 22px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.8px;
}

input[type=range].slider:focus::-webkit-slider-runnable-track {
    background: rgba(109, 111, 121, 0.34);
}

input[type=range].slider::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 0.9px 0.9px 1px rgba(0, 0, 0, 0.5), 0px 0px 0.9px rgba(13, 13, 13, 0.5);
    background: rgba(107, 109, 118, 0.34);
    border-radius: 18.3px;
    border: 0px solid rgba(0, 0, 0, 0);
}

input[type=range].slider::-moz-range-thumb {
    box-shadow: 1px 1px 0.3px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 22px;
    width: 22px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range].slider::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range].slider::-ms-fill-lower {
    background: rgba(105, 107, 115, 0.34);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 36.6px;
    box-shadow: 0.9px 0.9px 1px rgba(0, 0, 0, 0.5), 0px 0px 0.9px rgba(13, 13, 13, 0.5);
}

input[type=range].slider::-ms-fill-upper {
    background: rgba(107, 109, 118, 0.34);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 36.6px;
    box-shadow: 0.9px 0.9px 1px rgba(0, 0, 0, 0.5), 0px 0px 0.9px rgba(13, 13, 13, 0.5);
}

input[type=range].slider::-ms-thumb {
    box-shadow: 1px 1px 0.3px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 22px;
    width: 22px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    height: 8.4px;
}

input[type=range].slider:focus::-ms-fill-lower {
    background: rgba(107, 109, 118, 0.34);
}

input[type=range].slider:focus::-ms-fill-upper {
    background: rgba(109, 111, 121, 0.34);
}