/* Coolors Exported Palette - coolors.co/2d221b-6c4736-b2b2b4-f7ecd4-3d68a2 */

/* HSL */
$color1: hsla(23%, 25%, 14%, 1);
$color2: hsla(19%, 33%, 32%, 1);
$color3: hsla(240%, 1%, 70%, 1);
$color4: hsla(41%, 69%, 90%, 1);
$color5: hsla(214%, 45%, 44%, 1);

/* RGB */
$color1: rgba(45, 34, 27, 1);
$color2: rgba(108, 71, 54, 1);
$color3: rgba(178, 178, 180, 1);
$color4: rgba(247, 236, 212, 1);
$color5: rgba(61, 104, 162, 1);